<form [formGroup]="stateForm">
  <mat-form-field>
    <input type="text" matInput placeholder="States Group" formControlName="stateGroup" required [matAutocomplete]="autoGroup"/>
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
          <mat-option *ngFor="let title of group.names" [value]="title">
            {{ title }}
          </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field> 
</form>  
